# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ / VS Code
.idea/
*.iml
.vscode/

# Eclipse / STS
.settings/
.classpath
.project
bin/

# Mac
.DS_Store

# 로그
*.log

# 환경 변수 / 민감 정보
.env
application-secret.properties
